@page
@model LeapYearApp.Pages.ListModel


<h2>Users</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LeapYears[0].user_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LeapYears[0].login)
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.DateSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.LeapYears[0].Rok)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort"
                   asp-route-currentFilter="@Model.CurrentFilter">
                @Html.DisplayNameFor(model => model.LeapYears[0].Imie)
                </a>
            </th>
            <th>

                @Html.DisplayNameFor(model => model.LeapYears[0].czy_przestepny)

            </th>
            <th>
                
                    @Html.DisplayNameFor(model => model.LeapYears[0].Data)
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeapYears)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.user_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.login)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rok)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.czy_przestepny)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                @if(item.user_id==Model.find.user_id && item.user_id!=null)
               { <form method="post">
                <td>
                    <input name="id_User" value="@item.Id" type="hidden"/>
                        <button type="submit" class="btn btn-primary">Delete</button>
                </td>
                </form>
               }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.LeapYears.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.LeapYears.HasNextPage ? "disabled" : "";
}
<p>@ViewData["message"]</p>
<a asp-page="./LeapYearApp"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.LeapYears.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./LeapYearApp"
   
   asp-route-pageIndex="@(Model.LeapYears.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>